
html, body {
    height: 100%;
}

body {
    display: flex; 
    flex-direction: column;
    background-color: #f7f7f9;
}


.container {
    flex-grow: 1; 
}


.bg-app-morado {
    background-color: #45214A !important; 
}




#sectionMain{
    align-items: center;
}
h2{
    color: rgb(83, 12, 103);
}

#par1{
    color: blueviolet;
}

.parrafo{
    color: brown;
}

.card{
    width: 100%;
    border: 2px solid #45214A;
    box-shadow: 0 10px 20px rgba(69, 33, 74, 0.15);
    border-radius: 1.5 rem;
    padding: 20px;
    
}

.btn-primary {
    background-color: #5a345e !important;
    border-color: #45214A !important;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #45214A !important;
    transform: translateY(-1px); 

