
html, body {
    height: 100%;
}

body {
    display: flex; 
    flex-direction: column;
    align-content: center;
}


.container {
    flex-grow: 1; 
}


.bg-app-morado {
    background-color: #4E8BBF!important; 
}


#sectionMain{
    align-items: center;
}
h2{
    color: rgb(83, 12, 103);
}

#par1{
    color: blueviolet;
}

.parrafo{
    color: brown;
}

.card{
    width: 300px;
    border: 1px solid #000000;
    border-radius: 10%;
    padding: 15px;
}

.card img{
    width: 200px;
    border-radius: 10px;
}